@import '_mixin';

#todaysTopic, #totochat{
  .today, .tototalk{
    position: fixed;
    top: 0;
    left: 0;
    height: 173px;
    width: 100vw;
    background-color: rgba(243,225,113,0.52);
    filter: opacity(0.85);
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
    h3{
      letter-spacing: 2px;
      font-size: 18px;
    }
    i#commentIcon{
      margin-top: 20px;
      margin-bottom: 30px;
      @include commentIcon;
    }
  }
  .tototalk{
    box-sizing: border-box;
    padding: 105px 5% 25px;
    cursor: pointer;
    font-size: 18px;
    line-height: 27px;
    height: auto;
    filter: none;
    h3{
      letter-spacing: 2px;
      text-align: center;
    }
    p{
      margin-top: 30px;
    }
    i{
      &#commentIcon{
        margin: 0 0 0 20px;
        display: inline-block;
        height: 20px;
        &::after{
          top: 6px;
        }
      }
      &#arrow{
        display: none;
      }
    }
    &.close{
      height: 80 + 55px;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 55px 5% 0;
      h3{
        width: 85vw;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      p{
        display: none;
      }
      i{
        &#arrow{
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 11px 6.5px 0 6.5px;
          border-color: #ffffff transparent transparent transparent;
        }
        &#commentIcon{
          display: none;
        }
      }
    }
  }
}