@import '_mixin';

#app{
    .bk{
        position: absolute;
        top: 0;
        left: 0;
        height: 30%;
        width: 100vw;
        background: url(../assets/border.svg) center center no-repeat;
        filter: opacity(0.85);
        background-size: cover;
        z-index: -1;
    }
    .content{
        padding: 55px 5% 0;
        box-sizing: border-box;
        h2{
            font-size: 20px;
            letter-spacing: 2px;
            font-weight: 400;
            line-height: 30px;
            margin: 20px 0;
            border-left: 12px solid #ECC15B;
            padding-left: 10px;
        }
        .today{
            border-radius: 5px;
            background-color: rgba(210, 180, 140, 0.5);
            height: 173px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 1px solid #102977;
            cursor: pointer;
            h3{
                letter-spacing: 2px;
                font-size: 18px
            }
            i{
                margin-top: 20px;
                @include commentIcon;
            }
        }
    }
}