#app{
  .content{
    h2{
      border: none;
      padding-left: 0;
      margin: 50px 0 40px 5px;
      font-size: 18px;
    }
    textarea{
      width: 100%;
      height: 40vh;
      background-color: white;
      border-radius: 5px;
      border: 1px solid #102977;
      padding: 58px 25px 44px;
      box-sizing: border-box;
      resize: none;
      word-break: break-all;
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 27px;
    }
    .colorbar{
      margin: 10px 0 0;
      input{
        display: none;
        &:checked + label{
          background-color: white;
          &.blue{
            border: 8px solid #AFCAFF;
          }
          &.yellow{
            border: 8px solid #F3E171;
          }
          &.pink{
            border: 8px solid #F6C2C2;
          }
          &.purple{
            border: 8px solid #E8CDF3;
          }
        }
      }
      label{
        display: inline-block;
        border-radius: 50%;
        border: 1px solid #102977;
        height: 24px;
        width: 24px;
        box-sizing: border-box;
        margin-left: 5px;
        &.blue{
          background-color: #AFCAFF;
        }
        &.yellow{
          background-color: #F3E171;
        }
        &.pink{
          background-color: #F6C2C2;
        }
        &.purple{
          background-color: #E8CDF3;
        }
      }
    }
    button{
      background-color: #102977;
      height: 48px;
      width: 100%;
      color: white;
      font-size: 18px;
      border-radius: 5px;
      letter-spacing: 2px;
      border: none;
      margin-top: 40px;
    }
  }
}